<h2 class="well jumbotron">My Cart</h2>

<div class="table-striped">
  <% @line_items.each do |line_item| %>
  	<li><%= image_tag line_item.product.image.url, width: 75 %></li>
    <li><%= line_item.product.name %></li>
    <li><%= number_to_currency line_item.product.price %></li>
    <li>Qty: <%= line_item.quantity %></li>
    <li>Subtotal: <%= number_to_currency line_item.line_item_total %></li>
  <% end %>
</div>

<div>
  <%= link_to "Proceed to Checkout?", checkout_path, class: "btn btn-success" %>
</div>
